<div class="container mt-4">
  <h2 class="text-center mb-4">Liste des Étudiants</h2>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.email }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteStudent(student._id)">
          Supprimer
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
