<div class="container mt-5">
  <h2 class="text-center">Validation des Comptes</h2>

  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
    <tr>
      <th>Nom</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>
          <span class="badge" [class.bg-danger]="!user.isActive" [class.bg-success]="user.isActive">
            {{ user.isActive ? 'Validé' : 'En attente' }}
          </span>
      </td>
      <td>
        <button *ngIf="!user.isActive" class="btn btn-success btn-sm" (click)="validateUser(user._id)">
          Valider
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user._id)">
          Supprimer
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
