<div class="container-fluid shadow custom-navbar">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="">
      <img src="assets/img/logo.png" width="150px" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="navbar-nav mx-auto align-items-center">

        <!-- Home toujours visible -->
        <li class="nav-item">
          <a routerLink="" class="nav-link active">Home</a>
        </li>

        <!-- Avant connexion -->
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a routerLink="login" class="btn btn-outline-success">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="signup" class="btn btn-primary ms-2">Signup</a>
          </li>
        </ng-container>

        <!-- Après connexion -->
        <ng-container *ngIf="isLoggedIn">
          <!-- 🟢 Menu pour l'Admin -->
          <ng-container *ngIf="userRole === 'admin'">
            <li class="nav-item">
              <a routerLink="valideListe" class="dropdown-item">profile en attente</a>
            </li>
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Liste</a>
              <ul class="dropdown-menu">
                <li><a routerLink="listTeacher" class="dropdown-item">Liste des Teachers</a></li>
                <li><a routerLink="listStudent" class="dropdown-item">Liste des Students</a></li>
                <li><a routerLink="listParent" class="dropdown-item">Liste des Parents</a></li>

              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Ajouter</a>
              <ul class="dropdown-menu">
                <li><a routerLink="addTeacher" class="dropdown-item">Ajouter Teacher</a></li>
                <li><a routerLink="addStudent" class="dropdown-item">Ajouter Student</a></li>
                <li><a routerLink="addParent" class="dropdown-item">Ajouter Parent</a></li>
              </ul>
            </li>
          </ng-container>

          <!-- 🔵 Menu pour le Teacher -->
          <ng-container *ngIf="userRole === 'teacher'">
            <li class="nav-item">
              <a routerLink="addCourse" class="nav-link">Ajouter Cours</a>
            </li>
            <li class="nav-item">
              <a routerLink="courses" class="nav-link">Mes Cours</a>
            </li>
          </ng-container>

          <!-- 🔴 Menu pour le Student -->
          <ng-container *ngIf="userRole === 'student'">
            <li class="nav-item">
              <a routerLink="listCours" class="nav-link">Mes Cours</a>
            </li>
          </ng-container>

          <!-- Profil -->
          <li class="nav-item">
            <a [routerLink]="'/profile/' + userId" class="nav-link">Mon Profil</a>
          </li>

          <!-- Déconnexion -->
          <li class="nav-item">
            <a class="btn btn-danger logout-btn" (click)="logout()">Logout</a>
          </li>
        </ng-container>

      </ul>
    </div>
  </nav>
</div>
