<div class="container">
  <h2 class="my-4">Your Courses</h2>

  <!-- Vérification de la présence des cours -->
  <div *ngIf="courses.length > 0; else noCourses">
    <div *ngFor="let course of courses" class="card my-3">
      <div class="card-body">
        <!-- Clique sur le nom du cours pour aller aux détails -->
        <h5 class="card-title" (click)="viewCourseDetails(course._id)" style="cursor: pointer;">
          {{ course.courseName }}
        </h5>
        <p class="card-text">{{ course.description }}</p>
        <button class="btn btn-warning" (click)="editCourse(course._id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteCourse(course._id)">Delete</button>
      </div>
    </div>
  </div>

  <!-- Message lorsque l'enseignant n'a pas de cours -->
  <ng-template #noCourses>
    <p>You don't have any courses yet.</p>
  </ng-template>
</div>
